---
layout: default
---

{% include leftside.html %}
<section>
  {% include menu.html %}
  <h3>Installing AUX</h3>
  <br/>
  <h4>Installing with pip from pypi</h4>
  <pre>
    https://pypi.python.org/pypi/aux
    pip aux
    -- or --
    sudo pip aux
  </pre>
  <h4>Installing from git source</h4>
  <pre>
    git clone git@github.com:protojour/aux.git
    cd aux
    pip install -e .
  </pre>
  <h4>The aux.properties file</h4>
  <pre>
    mkdir /home/$USER/.aux
    echo '{"logging":{"loggdirectory": "/home/user/.aux/"}}' > /home/$USER/.aux/aux.properties
  </pre>

</section>
</div>
<script src="javascripts/scale.fix.js"></script>
