---
layout: default
---

{% include leftside.html %}
<section>
  {% include menu.html %}

  <h1>Writing your first testscripts</h1>


  <div>
    <h4>Introduction</h4>
    <p>
      Before you get started, you might want to read the       
      <a href="ex_integrating_your_systems.html">Integrating your systems</a> 
      section to understand how aux supports plugins to separate the system logic from your scripts.

    </p>
    <p>
      Aux is predominantly used for different forms of integration testing, where you view the system as a computer device or software service that you would like to manipulate in some way. The most typical form being regression tests. 
    </p>
    <p>
      Aux tests are hitting your API and it imposes some requirements on the way the API is developed and maintained. A good and testable webservice API should be explicitly documented, versioned, follow well known practices and have clear responsibilities on the system. Often the first hurdle is to root out all the skelletons left by developers in a hurry.
    </p>
  </div>
  <h4>Let's get started</h4>
  <p>
    The best way of starting from scratch is with smoke tests. You isolate some functionality where if it is not working your entire system would be down.
  </p>
  <p>
    So let's make a smoke/ directory and start setting up tests.
  </p>

  <h3>First you need to connect to your systems</h3>
There are two ways of doing this, you can either specify all the details in script...
  <pre>
# 1 - In script setup

from aux.system import get_system
my_device = get_system({"hostname": "localhost",
                        "systemtype": "MyDevice"})
print my_device.hostname
  </pre>
...or you can define the systems in a systems.json file. This allows you to set the target system on running the script.
  <pre>
# 2 - Using systems.json

from aux.system import get_system
my_device = get_system({"systemtype": "MyDevice"})
print my_device.hostname
  </pre>
Run the script with aux --systems=/my/dir/systems.json aux_script.py 

  <h3>Setting up systems.json</h3>
The systems.json file defines the resources made available for the test.
  <pre>
[{"hostname":"some.name.or.ip.10.0.0.2",
  "systemtype": "LinuxDevice",
  "properties": [
    {"authentication.rest": {
       "username":"user",
       "password":"password"
       }
    },
    {"authentication.ssh": {
       "username":"user",
       "password":"password"
       }
    }]
 },
 {"hostname":"some.name.or.ip.10.0.0.3",
  "systemtype": "MyDevice",
  "properties": [
    {"authentication.ssh": {
       "username":"user",
       "password":"password"}
    }]
 }]
  </pre>
        
  <h3>System manipulation</h3>
  <pre>
response = my_device.rest.createResource({"name": "myres",
                                          "value": 8})
print response.status
print response.headers
print response.body
  </pre>


</section>
</div>
<script src="javascripts/scale.fix.js"></script>
