---
layout: default
---

      {% include leftside.html %}
      <section>
        {% include menu.html %}
        <h3>When...</h3>
        <ul>
          <li><a href="ex_setting_up_the_basics.html">Setting up the basics</a></li>
          <li><a href="ex_integrating_your_systems.html">Integrating your systems</a></li>
          <li><a href="ex_writing_your_first_testscripts.html">Writing your first testscripts</a></li>
          <li><a href="ex_configuring_the_runtime.html">Configuring the runtime</a></li>
        </ul>



        <h3>Working with plugins</h3>
        <h4>Creating plugins</h4>
        <pre>
          aux --create_plugin=service myservice
          pip install -e aux_service_myservice/
        </pre>
        <pre>
          aux --create_plugin=device mydevice
          pip install -e aux_device_mydevice
        </pre>
        <pre>
          aux --create_plugin=protocol sip
          pip install -e aux_protocol_sip
        </pre>
        <h4>Loading plugins</h4>
        <pre>
          from aux.system.service.ext import myservice
          from aux.system.device.ext import mydevice
          from aux.protocol.ext import sip
        </pre>
      </section>
    </div>
    <script src="javascripts/scale.fix.js"></script>
