---
layout: default
---

      {% include leftside.html %}
      <section>
        {% include menu.html %}
        
        <div class="panel">
          <div class="panel-body">
            <h4>Aux</h4>
            <p>
              &ldquo;Power is an abstraction, use it for good, not evil&rdquo; <br/>
              Aux is an abstraction framework made to simplify and streamline your testing and integration with devices and software services. 
            </p>
          </div>
        </div>

        
        <div class="panel">
          <div class="panel-body">
            <h4>Scripting</h4>
            <p>
              ...
            </p>
          </div>
        </div>


        <div class="panel">
          <div class="panel-body">
            <h4>Testing</h4>
            <p>
              Automate your testing using Aux scripts.
            </p>
          </div>
        </div>

        <div class="panel">
          <div class="panel-body">
            <h4>Integration</h4>
            <p>
              Using aux to integrate with your device or service can be done through creating a new plugin.
            </p>
          </div>
        </div>

      </section>
      <!-- <footer  class="site-footer"> -->
      <!--   This project is maintained by <a href="https://github.com/protojour">protojour</a> -->
      <!-- </footer> -->
    </div>
    <script src="javascripts/scale.fix.js"></script>
