---
layout: default
---

      {% include leftside.html %}
      <section>
        {% include menu.html %}

        <table class="button-links" style="width:100%;height:225px;color:#FFFFFF;">
          <tr>
            <td rowspan="2" style="background:#4DBFD9;border:4px solid white;">
              <center>
                <div>
                  <i class="fa fa-file-code-o" style="font-size:40px"></i>
                </div>
                Scripting
              </center>
            </td>

            <td style="background:#EA4D20;border:4px solid white;">
              <center>
                <div>
                  <i class="fa fa-check-square-o" style="font-size:40px;"></i>              
                </div>
                Testing
              </center>
            </td>
          </tr>
          <tr>
            <td style="background:#C0D113;border:4px solid white;">
              <a href="/aux/integration.html">
              <center>
                <div>
                  <i class="fa fa-server" style="font-size:40px;"></i>
                </div>
                Integration
              </center>
              </a>
            </td>
          </tr>
          <!-- <tr> -->
          <!--   <td style="background:#F5B400;border:4px solid white;"> -->
          <!--     <center> -->
          <!--       <div> -->
          <!--         <i class="fa fa-sitemap fa-flip-vertical" style="font-size:40px;"></i> -->
          <!--       </div> -->
          <!--       Systems -->
          <!--     </center> -->
          <!--   </td> -->
          <!--   <td rowspan="2" style="background:#56626E;border:4px solid white;"> -->
          <!--     <center> -->
          <!--       <div> -->
          <!--         <i class="fa fa-info" style="font-size:40px;"></i> -->
          <!--       </div> -->
          <!--       About -->
          <!--     </center> -->
          <!--   </td> -->
          <!-- </tr> -->
          <!-- <tr> -->
          <!--   <td style="background:#823497;border:4px solid white;"> -->
          <!--     <center> -->
          <!--       <div> -->
          <!--         <i class="fa fa-exchange" style="font-size:40px;"></i> -->
          <!--       </div> -->
          <!--       Protocols -->
          <!--     </center> -->
          <!--   </td> -->
          <!-- </tr> -->
        </table>


        <p class="pull-right">
          &ldquo;Power is an abstraction, use it for good, not evil&rdquo;
        </p>


      </section>
      <footer  class="site-footer">
        This project is maintained by <a href="https://github.com/protojour">protojour</a>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
