---
layout: default
---

      {% include leftside.html %}
      <section>
        {% include menu.html %}
        
        <div class="panel">
          <div class="panel-body">
            <h4>Aux</h4>
            <p>
              &ldquo;Power is an abstraction, use it for good, not evil&rdquo; <br/>
              Aux is an abstraction framework made to simplify and streamline your testing and integration with devices and software services. 
            </p>
            <p>
              Aux could be used for.
              <ul>
                <li>Automation</li>
                <li>Testing</li>
                <li>Deployment & configuration</li>
                <li>Integration middleware</li>
              </ul>
            </p>
          </div>
        </div>

        
        <div class="panel">
          <div class="panel-body">
            <h4>Scripting</h4>
            <p>
              Scripting is the practice of making routine work simpler, faster and repeatable.
            </p>
            <p>
              It is a way of documenting and sharing knowledge about routines to avoid "the guy who knew quit" problems.
            </p>
            <p>
              It let's you streamline the integration testing of your webservice APIs.
            </p>
            <p>
              Scripting just makes the lazy man's life more bareable, so go ahead start scripting your life and pipelines today!
            </p>
          </div>
        </div>


        <div class="panel">
          <div class="panel-body">
            <h4>Testing</h4>
            <p>
              Automate your testing using Aux scripts.
            </p>
            <p>
              So no matter if you are 
              <a href="ex_writing_your_first_testscripts.html">writing your first testscripts</a>,
              or mastering some advanced integration scenario, aux is made for you!
            </p>
          </div>
        </div>

        <div class="panel">
          <div class="panel-body">
            <h4>Integration</h4>
            <p>
              Using aux to integrate with your system device or system service, can be done through creating a new plugin.
              <p>
                Whether for keeping in-house implementations of your systems or making your system available for testers and integrators by making your plugin public,
                you should start by reading how to 
                <a href="ex_integrating_your_systems.html">integrate your systems</a>.
              </p>

            </p>
          </div>
        </div>

      </section>
      <!-- <footer  class="site-footer"> -->
      <!--   This project is maintained by <a href="https://github.com/protojour">protojour</a> -->
      <!-- </footer> -->
    </div>
    <script src="javascripts/scale.fix.js"></script>
