      <header>
        
        <img src="/aux/images/aux.png"/>
        <p>Automation framework</p>
        
        <br/><br/>
        
        <ul>
          <li><a href="https://github.com/protojour/aux/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/protojour/aux/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/protojour/aux">View On <strong>GitHub</strong></a></li>
        </ul>
        Latest Release
        <br/>
        <a href="https://travis-ci.org/protojour/aux">
          <img src="https://travis-ci.org/protojour/aux.svg?branch=master"/>
        </a>


        <!-- <pre> -->
        <!--   pip install aux -->
        <!-- </pre> -->
        
      </header>
      
