      <header>
        
        <img src="/auxiliary/images/auxiliary.png"/>
        <p>Automation framework</p>
        
        <br/><br/>
        
        <ul>
          <li><a href="https://github.com/protojour/auxiliary/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/protojour/auxiliary/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/protojour/auxiliary">View On <strong>GitHub</strong></a></li>
        </ul>
        
        Latest Release
        <pre>
          pip install aux
        </pre>
        
      </header>
      
